<div class="max-w-full w-full pb-8 flex flex-col sm:flex-col md:flex-row justify-center">
    <div class="w-full md:w-1/2 sm:w-full inline-flex sm:inline-flex md:flex flex-row md:items-start md:justify-items-end">
        <h5 class="text-left font-bold md:text-right w-full mr-0 sm:mr-0 md:mr-16">{{skill?.title}}</h5>
    </div>
    <div class="w-full md:w-1/2 sm:w-full inline-flex sm:inline-flex md:flex flex-row md:items-start md:justify-items-start">
        <p class="ml-0 sm:ml-0 md:ml-16">{{skill?.content}}</p>
    </div>
</div>