<div class="toolbar">
    <div class="dropdown absolute flex flex-col items-center justify-between h-36 top-16 left-0 right-0 transition-transform z-10 sm:absolute md:hidden shadow-md pb-8" [class.collapsed]="menuCollapsed">
        <h5 class="dropdown-section my-1" [class.active]="section === 'about'">About Me</h5>
        <h5 class="dropdown-section my-1" [class.active]="section === 'services'">Services</h5>
        <h5 class="dropdown-section my-1" [class.active]="section === 'experiences'">Experience</h5>
        <h5 class="dropdown-section my-1" [class.active]="section === 'projects'">Projects</h5>
    </div>
    <div class="toolbar h-16 flex flex-row items-center right-0 left-0 top-0 fixed dark:text-white text-white xl:pl-12 xl:pr-12 md:pl-6 md:pr-6 justify-between">
        <button class="block sm:block md:hidden p-4 cursor-pointer outline-none" (click)="onMenuToggle()">
            <ion-icon name="menu"></ion-icon>
        </button>
        <h2 class="m-0">
            <span class="text-green-400 m-0 font-bold">Marco</span>
            <span class="m-0">Calderon</span>
        </h2>
        <div class="block sm:block md:hidden"></div>
        <div class="hidden sm:hidden md:flex">
            <h5 class="section" [class.active]="section === 'about'">About Me</h5>
            <h5 class="section" [class.active]="section === 'services'">Services</h5>
            <h5 class="section" [class.active]="section === 'experiences'">Experience</h5>
            <h5 class="section" [class.active]="section === 'projects'">Projects</h5>
        </div>
        <div class="hidden items-center justify-center sm:hidden md:flex">
            <a href="https://github.com/flexocarpius" target="_blank" class="section flex flex-row items-center"><img src="./assets/svg/github.svg" class="mr-2" />GitHub</a>
            <button class="btn">Hire</button>
        </div>
    </div>
</div>